{% extends 'base.html.twig' %}

{% block title %}Personnalite index{% endblock %}

{% block body %}
    <h1>Personnalite index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Nation</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for personnalite in personnalites %}
            <tr>
                <td>{{ personnalite.id }}</td>
                <td>{{ personnalite.nom }}</td>
                <td>{{ personnalite.prenom }}</td>
                <td>{{ personnalite.nation }}</td>
                <td>
                    <a href="{{ path('personnalite_show', {'id': personnalite.id}) }}">show</a>
                    <a href="{{ path('personnalite_edit', {'id': personnalite.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('personnalite_new') }}">Create new</a>
{% endblock %}
