{% extends 'base.html.twig' %}

{% block title %}Personnalite{% endblock %}

{% block body %}
    <h1>Personnalite</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ personnalite.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ personnalite.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ personnalite.prenom }}</td>
            </tr>
            <tr>
                <th>Nation</th>
                <td>{{ personnalite.nation }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('personnalite_index') }}">back to list</a>

    <a href="{{ path('personnalite_edit', {'id': personnalite.id}) }}">edit</a>

    {{ include('personnalite/_delete_form.html.twig') }}
{% endblock %}
